* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.todoBox {
  width: 35vw;
  height: 80vh;
  background: rgb(187, 197, 190);
  border-radius: 10px;
  margin: 35px auto;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.liveTodo {
  font-size: 1.25em;
  min-height: 8vh;
  background: rgb(214, 219, 206);
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 15px;
  line-height: 2em;
}

.textInput {
  border-radius: 8px;
  border: 1px solid rgb(136, 136, 136);
  width: 65%;
  align-self: flex-end;
  margin-bottom: 5px;
  font-size: 2em;
}

.textInput:focus {
  outline: none;
  border: 2px solid darkolivegreen;
}

#addButton {
  border-radius: 8px;
  border: 1px solid rgb(136, 136, 136);
  height: 3rem;
  width: 65%;
  align-self: flex-end;
  margin-bottom: 10px;
  background: rgb(200, 202, 195); 
}

.unorderedList {
  padding: 5px;
  height: 50vh;
  overflow-y: auto;
  margin-bottom: 10px;
}

.listItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
  border: .25px solid grey;
  background: rgb(172, 177, 163);
  line-height: 1.5em;
}

.listItem:nth-child(even) {
  background: rgb(178, 189, 162);
}

#deleteButton {
  grid-column: 2;
  justify-self: center;
  width: 30%;
  border-radius: 8px;
  border: 1px solid grey;
}

#searchBox {
  width: 100%;
}
